:root{
    --color:rgb(0, 195, 255);
    --seccolor:rgb(40, 27, 221);
}

.calculator {
    width: 400px;
    margin: auto auto;
    border-radius: 20px;
    padding: 20px;
    background-color:var(--color);
}

#result {
    width: 90%;
    height: auto;
    padding: 15px;
    font-size: 30px;
    text-align: right;
    border: none;
    border-radius: 5px;
    background-color: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    background-color: var(--seccolor);
    color: white;
}

.operator {
    background-color: var(--seccolor);
}
